[package]
name = "invars_application"
version = "0.1.0"
publish = false
license = "MIT"
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }

[dependencies]
invars_domain = { workspace = true }